<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css" />
</head>
<body>

<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo">PastPapers</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/downloads">Downloads</a></li>
            <li><a href="https://www.lexteam.xyz/">Lexteam</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="/downloads">Downloads</a></li>
            <li><a href="https://www.lexteam.xyz/">Lexteam</a></li>
        </ul>
    </div>
</nav>

{{ content}}

<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">PastPapers</h5>
                <p class="grey-text text-lighten-4">Fires exam questions at you from past papers.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="/">Homepage</a></li>
                    <li><a class="grey-text text-lighten-3" href="/downloads">Downloads</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/PastPapers">Source Code</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/PastPapers/PastPapers/issues">Issue Tracker</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Copyright &copy; 2016, <a href="https://www.lexteam.xyz/">Lexteam</a>.
            <a href="https://www.lexteam.xyz/">
                <img class="right" src="/assets/img/lexteam_logo.png" alt="Lexteam Logo" height="50" />
            </a>
        </div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

</body>
</html>
